@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>The Beverage List Editor provides a user-friendly interface that allows fast navigation and alterations to the Beverage List database. Users may filter, add, edit, and delete data through this website. A valid login is necessary to be able to access the Beverage List.</p>
<p>To register for a login, simply click the "Register" link next to "Log in" at the top right corner of the view. Once logged in, the Beverages link will become available in the navigation bar at the top.</p>
<p>While viewing the list of beverages, you may choose to edit the values of a beverage item simply by clicking the "edit" link and filling out the form that opens. You may also delete an item by clicking the "delete" link. If you simply wish to view the details of an item, click the "details" link. Clicking "add item" at the top of the list will allow you to add an item to the database by filling out the necessary data fields.</p>