@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>The Beverage List Editor provides a user-friendly interface that allows fast navigation and alterations to the Beverage List database. Users may filter, add, edit, and delete data through this website. A valid login is necessary to be able to access the Beverage List.</p>
